###############################################################################
# Set line endings to always use LF
###############################################################################

* text eol=lf
